.Planet {
  margin-top: 150px;
  width: 100%;
  height: 85%;
  background: no-repeat url(../../assets/img/planete.png);
  background-size: contain;
  background-position: 8em -3em;

  @include breakpoint(mobileL) {
    background-position: 17em -3em;
  }

  @include breakpoint(tablet) {
    background-position: 20em -3em;
  }

  @include breakpoint(laptop) {
    background-position: 45em -3em;
  }

  @include breakpoint(desktop) {
    background-position: 70em -3em;
  }

  &_content {
    padding-top: 5%;
    height: fit-content;

    @include breakpoint(laptop) {
      margin: 0 0 0 22%;
    }

    &_title {
      color: $darkgrey;
      font-size: $fontT;
      font-family: $radjhani;
      padding: 0.5em;
    }

    &_txt {
      color: $grey;
      width: 70%;
      font-size: $fontP;
      font-family: $kraftMono;
      padding-left: 1em;
      line-height: 120%;
    }

    @include breakpoint(laptop) {
      width: 40%;
    }

    &_desc {
      padding: 1.5em;

      &_top {
        display: flex;
        padding-top: 2em;

        &_type {
          color: $grey;
          font-size: 20px;
          font-family: $kraftMono;
        }

        &_line {
          height: 2px;
          background: $darkgrey;
          width: 150px;
          align-self: flex-end;
          margin: 0 0 0 5%;
        }

        &_txt {
          color: $darkgrey;
          font-size: 20px;
          font-family: $radjhani;
          padding-left: 1em;
        }
      }

      &_bot {
        display: flex;
        padding-top: 2em;

        &_type {
          color: $grey;
          font-size: 20px;
          font-family: $kraftMono;
        }

        &_line {
          height: 2px;
          background: #383d3b;
          width: 100px;           
          align-self: flex-end;
          margin: 0 0 0 5%;
        }

        &_txt {
          color: $darkgrey;
          font-size: 20px;
          font-family: $radjhani;
          padding-left: 1em;
        }
      }
    }
  }
}