{% extends 'base.html.twig' %}
{% block title %}Cabin{% endblock %}
{% block body %}
    <section class="CabinDetails">
        <a href="{{ path('cabin_index') }}">back to list</a>
        <div class="Steps">
            <div class="Steps_container">
                <span class="Steps_item--current">Etape 1</span>
                <span class="Steps_item">Etape 2</span>
                <span class="Steps_item">Etape 3</span>
            </div>
        </div>
        <div class="InfoPannel">
            <div class="InfoPannel_container">
                <div class="Thumbnail" style="background-image: url('../assets/img/thumbnail.png');"></div>
                <div class="Infos">
                    <div class="Infos_titleContainer">
                        <h1 class="Infos_title">Cabine {{ cabin.name }}</h1>
                        <div class="Infos_priceContainer">
                            <span class="Infos_price">{{ cabin.price }} €</span>
                        </div>
                    </div>
                    <p class="Infos_description">Lorem ipsum dolor  sit amet consecteturadipisicing elit. Perspiciatis tempora facilis fugiat veritatis ad laborum Lorem ipsum dolor  </p>
                    <div class="BookingDetails">
                        <div class="BookingDetails_container">
                            <div class="BookingDetails_tableHead">
                                <div class="BookingDetails_HeadTitle">Details</div>
                            </div>
                            <div class="BookingDetails_content">
                                <div class="BookingDetails_item"><span>John</span></div>
                                <div class="BookingDetails_item"><span>Doe</span></div>
                                <div class="BookingDetails_item"><span>John@doe.com</span></div>
                            </div>
                        </div>
                    </div>

                    <div class="Infos_btnContainer">
                        <a href="#" class="Infos_btn Button">Confirmer la réservation</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}