{% extends 'base.html.twig' %}

{% block title %}Spaceship{% endblock %}

{% block body %}
    <section class="Fiche">
        <div class="Fiche_Title">
        <div class="Fiche_Att">
            <div class="Fiche_Att_Item">
                <p class="Fiche_Att_Txt">Type</p>
                <div class="Fiche_Att_Line">
                    <div class="">
                    </div>
                </div>
                <p class="Fiche_Att_Title">Gazuse</p>
            </div>
            <div class="Fiche_Att_Item">
                <p class="Fiche_Att_Txt">Type</p>
                <div class="Fiche_Att_Line">
                    <div class="">
                    </div>
                </div>
                <p class="Fiche_Att_Title">Gazuse</p>
            </div>
        </div>
        <div class="Fiche_Card">
            <div class="Fiche_Card_Item">
                <p>Patate</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna ali</p>
            </div>
            <div class="Fiche_Card_Item">
                <p>Patate</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna ali</p>
            </div>
            <div class="Fiche_Card_Item">
                <p>Patate</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna ali</p>
            </div>
        </div>
    </section>
{% endblock %}
