.Card {
  width: 220%;
  height: 100%;
  margin: 10% auto;
  display: flex;
  overflow-x: scroll;

  &_ctnr {
    border-top: 1px solid $blackPlanet;
    border-left: 1px solid $blackPlanet;
    height: 42%;
    margin: 0 0 0 4%;

    &_title {
      padding: 1em;
      font-family: $radjhani;
      font-size: 30px;

      &:after {
        content: "";
        background: url("../img/traits.png") no-repeat;
        background-size: cover;
        position: absolute;
        top: 62%;
        left: 22%;
        width: 28%;
        height: 2%;
        z-index: -1;
      }
    }

    &_txt {
      padding: 1em;
      font-size: $fontP;
      font-family: $kraftMono;
    }

    &_btn {
      width: 60%;
      height: 6%;
      margin: 15% auto 0;
      padding: 1em 2em;
      background: $gradient;
      font-size: $fontCall;
      color: $mainBkgd;
      text-align: center;
      cursor: pointer;
    }
  }
}
