{% extends 'base.html.twig' %}

{% block body %}
    <section class="Register">
        <div class="Register_container">
            <h1 class="Register_title">Nous contacter</h1>
            <input type="text" class="RegisterForm_input" placeholder="Prénom">
            <input type="text" class="RegisterForm_input" placeholder="Nom">
            <input type="text" class="RegisterForm_input" placeholder="Email">
            <label class="LabelMargin" for="" style="margin: 30px 0 10px 0;">Votre message</label>
            <textarea name="" id="" cols="30" rows="10" style="resize: none; margin-bottom: 10px"></textarea>
            <input type="submit" class="Button" value="Envoyer">
        </div>
    </section>
{% endblock %}
