{% extends 'base.html.twig' %}

{% block title %}Activities{% endblock %}

{% block body %}
    <div class="detailsactivity-container">
        <div class="detailsactivity-preface">
            <h1 class="detailsactivity-titlepreface">{{ activity.name }}</h1>
            <p class="detailsactivity-btn">{{ activity.type }}</p>
        </div>
    </div>
    <div class="detailsactivity-description">
        <h2 class="detailsactivity-firsttitle">{{ activity.detail }}</h2>
    </div>

{% endblock %}