<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="/assets/css/main.css" type="text/css" rel="stylesheet">
    </head>
    <body>
    <header class="Header">
        <p class="Header_logo">DIONYSOS</p>

        <img class="Header_burger" src="/assets/img/burger.svg" alt="burger menu" title="burger menu">

        <nav class="Header_nav">
            <div id="roll" class="Header_nav_box">
                <p class="Header_nav_box_nbr">01</p>
                <p class="Header_nav_box_item">L'EXPERIENCE</p>

                <div class="Header_nav_box_menu">
                    <p class="Header_nav_box_menu_item">Carte</p>
                    <p class="Header_nav_box_menu_item">Vaisseau</p>
                    <p class="Header_nav_box_menu_item">Cabines</p>
                    <p class="Header_nav_box_menu_item">Activités</p>
                </div>
            </div>
            <div class="Header_nav_box">
                <p class="Header_nav_box_nbr">02</p>
                <p class="Header_nav_box_item">RESERVER</p>
            </div>
            <div class="Header_nav_box">
                <p class="Header_nav_box_nbr">03</p>
                <p class="Header_nav_box_item">CONTACT</p>
            </div>
            <div class="Header_nav_box">
                <div class="Header_nav_box_square"></div>
                <p class="Header_nav_box_item">SE CONNECTER</p>
            </div>
        </nav>
    </header>

    {% block body %}
    {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>



