{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
    <section class="Experience">
        <section class="Contain">
            <div class="Experience_Main">
                <h6>Ce que vous voulez</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut la</p>
            </div>
        </section>
        <div class="Experience_Second">
            <div class="Experience_Second_Content">
                <h6>L'experience</h6>
                <p class="Experience_Second_Txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad mini</p>
                <p class="Experience_Second_Txt">Lorem  <span class="Experience_Second_Under">ipsum</span> dolor sit amet, consecteiqua. Ut enim <span class="Experience_Second_Under">ipsum</span> ad mini</p>
            </div>
            <div class="Experience_Second_Img">
                <img src="assets/img/spaceship.png" alt="spaceship">
            </div>
        </div>
        <div class="Experience_End">
            <div class="Experience_End_Txt">
                <p>L</p>
            </div>
            <div class="Experience_End_Txt">
                <p>O</p>
            </div>
            <div class="Experience_End_Txt">
                <p>L</p>
            </div>
            <div class="Experience_End_Txt">
                <p>O</p>
            </div>
            <div class="Experience_End_Txt">
                <p>L</p>
            </div>
            <div class="Experience_End_Txt">
                <p>O</p>
            </div>
        </div>
    </section>
{% endblock %}

