// VARIABLES
$grey: #a39b94;
$white: #f0ece1;
$red: #f52f57;
$darkgrey: #383d3b;
$purple: #9649cb;
$boxShad: 0 0 80px #381e55;
$blackPlanet: rgba(53, 58, 56, 1);
$fontCall: 14px;
$fontP: 16px;
$fontT: 45px;
$gradient: linear-gradient(-145deg, rgba(153, 70, 200, 0.8), rgba(244, 43, 87, 0.8));
$kraftItalic: 'kraft_monoitalic';
$kraftMono: 'kraft_monoregular';
$radjhani: 'rajdhanisemibold';
$mainBkgd: rgba(240, 237, 226, 1);
